EXPO_PUBLIC_SUPABASE_URL=https://ptriflubxzmryjboadww.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0cmlmbHVieHptcnlqYm9hZHd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzYyNTAwMjYsImV4cCI6MjA1MTgyNjAyNn0.zteiyn3IU1PbgUT7NAV6Lg6cKjxRfmlWyLYTT9ONSMg