@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --primary: 215 60% 57.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 30% 70%;
    --secondary-foreground: 0 0% 0%;

    --muted: 177 30% 85%;
    --muted-foreground: 215 5% 35%;

    --accent: 177 30% 80%;
    --accent-foreground: 215 5% 15%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 215 5% 90%;

    --border: 215 30% 50%;
    --input: 215 30% 26%;
    --ring: 215 60% 57.8%;

    --radius: 0.3rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;

    --primary: 215 60% 57.8%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 30% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 177 30% 25%;
    --muted-foreground: 215 5% 60%;

    --accent: 177 30% 25%;
    --accent-foreground: 215 5% 90%;

    --destructive: 0 100% 30%;
    --destructive-foreground: 215 5% 90%;

    --border: 215 30% 26%;
    --input: 215 30% 26%;
    --ring: 215 60% 57.8%;

    --radius: 0.3rem;
  }
}

@layer base {
  * {
    @apply m-0 border-border p-0 font-sans;
  }
}
